grant {
    permission java.net.SocketPermission "127.0.0.1", "connect,resolve,accept,listen";
    permission java.net.SocketPermission "localhost", "connect,resolve,accept,listen";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.util.PropertyPermission "java.runtime.version", "read";
    permission java.util.PropertyPermission "java.vm.info", "read";
    permission java.util.PropertyPermission "java.vm.name", "read";
    permission java.util.PropertyPermission "com.google.appengine.runtime.version", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.tools.attach";
    permission java.lang.RuntimePermission "modifyThreadGroup";
    permission java.lang.RuntimePermission "modifyThread";
    permission java.lang.RuntimePermission "reflectionFactoryAccess";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.util.PropertyPermission "java.class.path", "read";
    permission java.io.FilePermission "<<ALL FILES>>", "execute";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
    permission java.util.PropertyPermission "user.home", "read";
    permission java.util.PropertyPermission "idea.is.junit5", "read";
    permission java.util.PropertyPermission "idea.test.cyclic.buffer.size", "read";
    permission java.util.PropertyPermission "idea.junit.show.engines", "read";
    permission java.util.PropertyPermission "java.util.logging.SimpleFormatter.format", "write";
    permission java.util.logging.LoggingPermission "control";
    permission java.io.FilePermission "default.log.lck", "write";
    permission java.io.FilePermission "default.log", "write";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.security.AllPermission;
};
